{% extends "admin/custom-admin-page.html" %}
{% load i18n static kph_external_admin %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            </li>
            {% if app.app_label %}
                <li class="breadcrumb-item">
                    <a class="breadcrumb-item" href="{{ app.app_url }}">
                        {{ app.app_label }}
                    </a>
                </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ model }}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block custom_content %}
    <h1>{{ app.app_label|title }} &raquo; {{ model|title }} administration</h1>
    <h5>{{ results|length }} results.</h5>
    <table class="table table-striped">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                {% for column in columns %}
                    <td>{% column_content result column %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}